.title1 {
	text-align: center;
}

#header1
{
	background: black;
	color: white;
}

#footer1 {
	padding: 10px;
	background: black;
	color: white;
}

#map {
	height: 400px;
	width: 100%;
}

.victim {
    background-color: lightgrey;
    margin: 2px;
    padding: 2px;
}


#victimList {
  height: 400px;
  overflow-y: auto;
}
